
@{
    ViewBag.Title = "FAQ";
}


<div class="row" style="padding:15px 0 10px">
    <div class="col-md-5 text-center" style="background-color:black;border-radius:5px">
        <img src="~/Assets/images/Core App Logo Light.png" alt="Who are we?" style="width:250px;height:250px" />
    </div>
    <div class="col-md-7 text-center" style="padding:0 40px 0 40px">
        <h2>Who are We?</h2>

        <br />

        <p>
            Here at CORE, we are striving to promote excellence in Media through honesty evaluations of the music industry and in other forms of
            Fine Art.  In all that we do, we hope to inspire and encourage others to critically evaluate the quality that they strive for, so
            that they can continue to improve their craft and --home-- their talents.  With this, we hope to encourage the Christian Artist to worship
            God through the quality of their work and not use the title of Christian as a means of self promotion or a crutch to settle for
            Mediocrity.
        </p>
    </div>
</div>

<br />
<hr />


<!--FAQ Section-->

<center>
    <h2>FAQ</h2>
</center>

<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">

        <div class="content-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <!-- Bootstrap FAQ - START -->

                    <div class="panel-group faq-panels" id="accordion">

                        <!--PANEL 1-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How Many Bible Translations Will There Be?</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>We we have as many valid translations as possible. We will be offering the most popular at launch and will contiune to add as many translations that we are given permission to use.</p>
                                </div>
                            </div>
                        </div>
                        <!--PANEL 2-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Will There Be Instant Messaging</a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>YES! The ablity to be able to chat instantly will be a huge aspect of this application. We will keep adding and progressing our software to be the best it can be. At launch a fully functioning Instant Messaging feature will be present.</p>
                                </div>
                            </div>
                        </div>
                        <!--PANEL 3-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How Do You Reset Your Password</a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You can go <a href="@Url.Action("ChangePassword","Manage")">Here!</a></p> Please Let us know if you have any other trouble.
                                </div>
                            </div>
                        </div>
                        <!--PANEL 4-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Will Group Messaging Be Availible</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Yes! You will be able to create and join groups that will have group messaging availible within that individual group. You will be able to also freely add people to a group message.</p>
                                </div>
                            </div>
                        </div>
                        <!--PANEL 5-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What Do You Get With A Subscription?</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            Video with groups chatting
                                        </li>
                                        <li>
                                            Language Translations of the Bible
                                        </li>
                                        <li>
                                            Exlusive Books

                                        </li>
                                        <li>
                                            Commentaires
                                        </li>
                                        <li>
                                            And more!
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- bs faq end -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<br />
<br />

<center>
    <h2>
        Have any other questions?
    </h2>

    <h3>
        Send us a message!
        <br /> <br />
        <a href="@Url.Action("Contact", "Home")" class="btn btn-info">Contact Us!</a>
    </h3>
</center>