@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome @ViewBag.FirstName <br />To CORE Bible!</h1>
    <p class="lead">We are constantly updating and bringing new content for you to enjoy! Thank you for joining and please let us know if you have any problems, questions, or concerns!</p>
    <p><a href="@Url.Action("FAQ","Manage")" class="btn btn-primary btn-lg">Vist our FAQ &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What Is This?</h2>
        <p>
            CORE's mission is to connect others and restore excellence and through the CORE Bible we will establish that. 
            Within this app there will be groups which you can discuss topics of the bible with friends or people all around the world, group and personal study plans, all valid Bible translations and more!
            We believe CORE Bible will establish a virtual community of believers that come together and study the Word of God!
        </p>
        <p><a class="btn btn-default" href="https://anchoredcore.com/core-bible-app/" target="_blank">Learn more &raquo;</a></p>
    </div>
   
    <div class="col-md-6">
        <h2>What Can I Do Now?</h2>
        <p> Right now you are invited to create a profile! We expect the app to come out within a few months. We will update as our progress continues!</p>
        <p><a class="btn btn-default" href="@Url.Action("UpdateInformation","Manage")">Update Profile &raquo;</a></p>
    </div>
</div>

<h1>Ryan</h1>