<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/18ac453c-29d9-44ee-af97-29df3fcba9b0/resourceGroups/Corebible/providers/Microsoft.Web/sites/Corebible</ResourceId>
    <ResourceGroup>Corebible</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://corebible.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>corebible.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Corebible</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Corebible</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=corebible.database.windows.net;Initial Catalog=Core;Persist Security Info=True;User ID=glance;Password=Tuckerandhobbes1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Corebible.Models.ApplicationDbContext, Corebible" MigrationConfiguration="Corebible.Migrations.Configuration, Corebible" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=corebible.database.windows.net;Initial Catalog=Core;Persist Security Info=True;User ID=glance;Password=Tuckerandhobbes1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>